body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-white);
    padding: 10px;
}

/* Шапка */

.logo-circle {
    width: 40px;
    height: 40px;
    background: var(--orange);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid white;
    background-image: url("");

}

.cart-icon {
    font-size: 24px;
    cursor: pointer;
}

/* Оранжевая полоса навигации */
.nav-bar {
    background: var(--orange);
    height: 35px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, #FFA571, #FF5E00);
}



.product-image {
    width: 100px;
    height: 120px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url("kartinka.png");
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-info {
    flex-grow: 1;
}

.price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4px;
}


/* Кнопки управления */
.actions {
    display: flex;
    gap: 10px;
    align-items: center;
}

:root {
    --bg-color: #0d1117;
    --card-bg: #162126;
    --orange: #ff8c00;
    --orange-light: #ffaa45;
    --text-white: #ffffff;
    --text-gray: #a0a0a0;
}

/* Шапка */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}

.cart-icon {
    font-size: 24px;
    cursor: pointer;
}

.back-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;

}

/* Список карточек */
.product-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-card {
    background: var(--card-bg);
    border-radius: 20px;
    padding: 15px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.product-info {
    flex-grow: 1;
}

.title {
    color: var(--text-gray);
    font-size: 14px;
    margin-bottom: 15px;
}

.counter {
    background: var(--orange);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 35px;
    border-radius: 8px;
    padding: 0 10px;
    background-image: linear-gradient(to right, #FFA571, #FF5E00);
}

.counter button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.buy-btn {
    background-image: linear-gradient(to right, #FFA571, #FF5E00);
    border: none;
    color: white;
    flex-grow: 1;
    height: 35px;
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.buy-btn:active {
    background-image: linear-gradient(to right, #FFA571, #FF5E00);
    transform: scale(0.98);
}

body {
    background-image: url("assets/Rectangle67.png");
    background-repeat: repeat;
    background-color: #002D2D;
}


.product-card {
    background-image: linear-gradient(to right, #1D7A7A, #105050);
}

.search-placeholder {
    background-image: linear-gradient(to right, #FFA571, #FF5E00);
}
